<!DOCTYPE html>
<html>
<head>
    <title>Datatable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>


    <div class="jr-mDatatableContainer jr-uWidth-325px jr">
        <table class="jr-mDatatable jr">
            <colgroup class="jr-mDatatable-columngroup jr">
                <col class="jr-mDatatable-column jr">
                <col class="jr-mDatatable-column jr">
                <col class="jr-mDatatable-column jr">
                <col class="jr-mDatatable-column jr">
            </colgroup>

            <thead class="jr-mDatatable-header jr">
                <tr class="jr-mDatatable-row jr">
                    <th class="jr-mDatatable-cell jr"></th>
                    <th scope="row" class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Last Name</div>
                        </div>
                    </th>
                    <th scope="row" class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-date jr">Date Hired</div>
                        </div>
                    </th>
                    <th scope="row" class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">Bonus</div>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody class="jr-mDatatable-body jr">
                <tr class="jr-mDatatable-row jr-mDatatable-rowGroup jr">
                    <td colspan="4" class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Sales Manager</div>
                        </div>
                    </td>
                </tr>
                <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr">
                    <td class="jr-mDatatable-cell jr"></td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Anderson</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-date jr">05/08/2004</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">9,000.00</div>
                        </div>
                    </td>
                </tr>
                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr">
                    <td class="jr-mDatatable-cell jr"></td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Daniels</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-date jr">08/02/2008</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">1,000.00</div>
                        </div>
                    </td>
                </tr>
                <tr class="jr-mDatatable-row jr-mDatatable-rowGrouptotal jr">
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Sales Manager Totals</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">2</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-date jr">2</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">10,000.00</div>
                        </div>
                    </td>
                </tr>
                <tr class="jr-mDatatable-row jr-mDatatable-rowTotal jr">
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Totals</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">2</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-date jr">2</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">10,000.00</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
