<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Select List Controls</title>
    <meta content="text/html; charset=UTF-8"http-equiv="Content-Type">
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">

<div class="jr-mMultiselect jr-uWidth-350px jr">
    <div class="jr-mMultiselect-toggleContainer jr">
        <div class="jr-mMultiselect-toggle jr-mMultiselect-toggleAvailable jr-isInactive jr" title="">
            <span class="jr-mMultiselect-toggle-label jr" title="Available: #">Available: 12</span>
        </div>
        <div class="jr-mMultiselect-toggle jr-mMultiselect-toggleSelected jr-isActive jr">
            <span class="jr-mMultiselect-toggle-label jr" title="Selected: #">Selected: 5</span>
        </div>
    </div>

    <div class="jr-mMultiselect-listContainer jr j-active" style="padding-top:26px; position:relative;">
        <div class="jr-mMultiselect-list jr">
            <div class="jr-mScalablelist jr" draggable="false" ondragstart="return false" unselectable="on" onselectstart="return false" style="visibility: visible; display: block;">

                <div class="j-view-port-chunk" style="height:110px">
                    <ul class="jr-mSelectlist jr-mSelectlistSelected jr">
                        <li class="jr-mSelectlist-item jr jr-isSelected" title="January" data-index="0">
                            <div class="jr-mSelectlist-item-wrapper jr">
                                <a class="jr-mSelectlist-item-delete jr j-remove-selection"></a>
                                <a class="jr-mSelectlist-item-text jr">January - selected</a>
                            </div>
                        </li>
                        <li class="jr-mSelectlist-item jr jr-isSelected" title="April" data-index="0">
                            <div class="jr-mSelectlist-item-wrapper jr">
                                <a class="jr-mSelectlist-item-delete jr j-remove-selection"></a>
                                <a class="jr-mSelectlist-item-text jr">April - selected</a>
                            </div>
                        </li>
                        <li class="jr-mSelectlist-item jr jr-isSelected" title="June" data-index="1">
                            <div class="jr-mSelectlist-item-wrapper jr">
                                <a class="jr-mSelectlist-item-delete jr j-remove-selection"></a>
                                <a class="jr-mSelectlist-item-text jr">June - selected</a>
                            </div>
                        </li>
                        <li class="jr-mSelectlist-item jr jr-isSelected jr-isHovered" title="July" data-index="2">
                            <div class="jr-mSelectlist-item-wrapper jr">
                                <a class="jr-mSelectlist-item-delete jr j-remove-selection"></a>
                                <a class="jr-mSelectlist-item-text jr">July - selected and hovered</a>
                            </div>
                        </li>

                        <li class="jr-mSelectlist-item jr jr-isSelected" title="August" data-index="2">
                            <div class="jr-mSelectlist-item-wrapper jr">
                                <a class="jr-mSelectlist-item-delete jr j-remove-selection"></a>
                                <a class="jr-mSelectlist-item-text jr">August - selected</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
