<!DOCTYPE html>
<html>
<head>
    <title>Crosstab Header Row Labels Container</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>


<div class="jr-mDatatableCrosstab jr">
    <div class="jr-mDatatableCrosstab-headerContainer jr">
        <div class="jr-mDatatableCrosstab-header-rowlabelsContainer jr">
            <table class="jr-mDatatable jr-mDatatableCrosstab jr">
                <thead class="jr-mDatatable-header jr">
                    <tr class="jr-mDatatable-row jr">
                        <th colspan="3" class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr">
                            <div class="jr-mDatatable-cell-wrapper jr">
                                <div class="jr-mDatatable-cell-text jr">
                                    <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                    State
                                </div>
                            </div>
                        </th>
                    </tr>

                    <tr class="jr-mDatatable-row jr">
                        <th colspan="3" class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellMeasure jr">
                            <div class="jr-mDatatable-cell-wrapper jr">
                                <div class="jr-mDatatable-cell-text jr">Measures</div>
                            </div>
                        </th>
                    </tr>

                    <tr class="jr-mDatatable-row jr-mDatatable-rowGrouplabels jr">
                        <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr" style="width:100px">
                            <div class="jr-mDatatable-cell-wrapper jr">
                                <div class="jr-mDatatable-cell-text jr">Year</div>
                            </div>
                        </th>
                        <th class="jr-mDatatable-cell  jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr" style="width:150px">
                            <div class="jr-mDatatable-cell-wrapper jr">
                                <div class="jr-mDatatable-cell-text  jr">
                                    <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                    Product Family
                                </div>
                            </div>
                        </th>
                        <th class="jr-mDatatable-cell  jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr" style="width:170px">
                            <div class="jr-mDatatable-cell-wrapper jr">
                                <div class="jr-mDatatable-cell-text jr">
                                    <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                    Product Category
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>
</body>
</html>
