<!DOCTYPE html>
<html>
<head>
    <title>Crosstab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>

<div class="jr-mDatatableCrosstab-bodyContainer jr-isEmpty jr">
    <div class="jr-mDatatableCrosstab-body-rowlabelsContainer jr" style="height:23px">
        <table class="jr-mDatatable jr-mDatatableCrosstab jr">
            <tbody class="jr-mDatatable-body jr">
            <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowMember jr">
                <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr" style="width:98px">
                    <div class="jr-mDatatable-cell-wrapper jr">
                        <div class="jr-mDatatable-cell-text jr">Row Group</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="jr-mDatatableCrosstab-body-dataContainer jr" style="height:23px; left:98px;">
        <table class="jr-mDatatable jr-mDatatableCrosstab jr">
            <tbody class="jr-mDatatable-body jr">
            <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowValue jr">
                <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr" style="width:100px">
                    <div class="jr-mDatatable-cell-wrapper jr">
                        <div class="jr-mDatatable-cell-currency jr">1,250,000.00</div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>