<!DOCTYPE html>
<html>
<head>
    <title>Crosstab Header Column Labels Container</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>


<div class="jr-mDatatableCrosstab jr">
    <div class="jr-mDatatableCrosstab-headerContainer jr">
        <div class="jr-mDatatableCrosstab-header-columnlabelsContainer jr">
            <table class="jr-mDatatable jr-mDatatableCrosstab jr">
                <thead class="jr-mDatatable-header jr">
                <tr class="jr-mDatatable-row jr">
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">California</div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Oregon</div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">
                                <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                Totals
                            </div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellField jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Totals</div>
                        </div>
                    </th>
                </tr>

                <tr class="jr-mDatatable-row jr">
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellMeasure jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Sales</div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellMeasure jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Sales</div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellMeasure jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Sales</div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellColumnlabel jr-mDatatable-cellMeasure jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Sales</div>
                        </div>
                    </th>
                </tr>

                <tr class="jr-mDatatable-row jr">
                    <th class="jr-mDatatable-cell jr-mDatatable-cellSpacer jr" style="width:120px">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr"></div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellSpacer jr" style="width:100px">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr"></div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellSpacer jr" style="width:100px">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr"></div>
                        </div>
                    </th>
                    <th class="jr-mDatatable-cell jr-mDatatable-cellSpacer jr" style="width:100px">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr"></div>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
</div>
</body>
</html>
