<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">
<div style="height:250px; width:400px; border:1px solid #e7e7e7">
    <div class="jr-mPanel jr">
        <div class="jr-mPanel-header jr">
            <h2 class="jr-mPanel-header-title jr">Panel Title</h2>
        </div>

        <div class="jr-mPanel-search jr">
            <div class="jr-mInput jr">
                <div class="jr-mInput-searchContainer jr">
                    <input class="jr-mInput-search jr" type="text" placeholder="Search...">
                    <button class="jr-mInput-search-clear jr" aria-label="clear search">
                        <span class="jr-mIcon jr-cancel jr"></span>
                    </button>
                    <button class="jr-mInput-search-trigger jr" aria-label="search">
                        <span class="jr-mIcon jr-search jr"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="jr-mPanel-body jr"> </div>

        <div class="jr-mPanel-footer jr"></div>
    </div>
</div>
</body>
</html>