<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">
<div style="height:350px; width:400px; border:1px solid #e7e7e7">
    <div class="jr-mPanel jr">
        <div class="jr-mPanel-header jr">
            <h2 class="jr-mPanel-header-title jr">Panel Title</h2>
        </div>

        <div class="jr-mPanel-section jr">
            <div class="jr-mPanel-section-header jr">
                <span class="jr-mPanel-section-header-title jr">Section 1</span>
            </div>

            <div class="jr-mPanel-section-body jr">
                <ul class="jr-mTree jr">
                    <li class="jr-mTree-leaf jr-mTree-node-1 jr" >
                        <span class="jr-mTree-icon jr-mTree-iconTable jr" ></span>
                        <p class="jr-mTree-label jr">Table 1</p>
                    </li>
                    <li class="jr-mTree-leaf jr-mTree-node-1 jr">
                        <span class="jr-mTree-icon jr-mTree-iconTable jr" ></span>
                        <p class="jr-mTree-label jr">Table 2</p>
                    </li>
                </ul>
            </div>

            <div class="jr-mPanel-section-footer jr" style="">
                <div class="jr-mPanel-section-footer-wrapper jr"></div>
            </div>
        </div>

        <div class="jr-mPanel-section jr">
            <div class="jr-mPanel-section-header jr">
                <span class="jr-mPanel-section-header-title jr">Section 2</span>
            </div>

            <div class="jr-mPanel-section-search jr">
                <div class="jr-mInput jr">
                    <div class="jr-mInput-searchContainer jr">
                        <input class="jr-mInput-search jr" type="text" placeholder="Search...">
                        <button class="jr-mInput-search-clear jr" aria-label="clear search">
                            <span class="jr-mIcon jr-cancel jr"></span>
                        </button>
                        <button class="jr-mInput-search-trigger jr" aria-label="search">
                            <span class="jr-mIcon jr-search jr"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="jr-mPanel-section-body jr">
                <ul class="jr-mTree jr">
                    <li class="jr-mTree-leaf jr-mTree-node-1 jr" >
                        <span class="jr-mTree-icon jr-mTree-iconTable jr" ></span>
                        <p class="jr-mTree-label jr">Table 1</p>
                    </li>
                    <li class="jr-mTree-leaf jr-mTree-node-1 jr">
                        <span class="jr-mTree-icon jr-mTree-iconTable jr" ></span>
                        <p class="jr-mTree-label jr">Table 2</p>
                    </li>
                </ul>
            </div>

            <div class="jr-mPanel-section-footer jr" style="">
                <div class="jr-mPanel-section-footer-wrapper jr"></div>
            </div>
        </div>


    </div>
</div>
</body>
</html>