<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Accordion</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
    <link type="text/css" href="../../../../themes/default/jquery-ui/jquery-ui.css" rel="stylesheet">

    <script type="text/javascript" src="../../requireSnippetsConfig.js"></script>
    <script type="text/javascript" src="../../../bower_components/requirejs/require.js"></script>
    <script type="text/javascript" src="../../../../config.js"></script>

</head>

<body class="jr">

<div class="jr-mAccordion jr-mAccordionBorder jr-isExpanded jr-uWidth-300px jr">
    <div class="jr-mAccordion-header jr">
        <div class="jr-mAccordion-header-expander jr"></div>
        <div class="jr-mAccordion-header-title jr">Fields</div>
    </div>
    <div class="jr-mAccordion-body jr">
        <div class="jr-mAccordion-body-wrapper jr">
            <ul class="jr-mTree jr" role="tree" aria-label="">
                <li class="jr-mTree-leaf jr-mTree-leaf-1 jr" role="treeitem">
                    <span class="jr-mTree-icon jr-mTree-iconColumn jr" ></span>
                    <p class="jr-mTree-label jr">Field 1</p>
                </li>
                <li class="jr-mTree-leaf jr-mTree-leaf-1 jr" role="treeitem">
                    <span class="jr-mTree-icon jr-mTree-iconColumn jr" ></span>
                    <p class="jr-mTree-label jr">Field 2</p>
                </li>
                <li class="jr-mTree-leaf jr-mTree-leaf-1 jr" role="treeitem">
                    <span class="jr-mTree-icon jr-mTree-iconColumn jr" ></span>
                    <p class="jr-mTree-label jr">Field 3</p>
                </li>
                <li class="jr-mTree-leaf jr-mTree-leaf-1 jr" role="treeitem">
                    <span class="jr-mTree-icon jr-mTree-iconColumn jr" ></span>
                    <p class="jr-mTree-label jr">Field 4</p>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
