<!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Tooltip</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link type="text/css" href="../../../../themes/default/jasper-ui/jasper-ui.css" rel="stylesheet">

    <style>
        .demoContainer {
            margin: 1em 1em 2em 1em;
        }
    </style>
</head>
<body>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipBottom">
        <div class="jr-mTooltip jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip appears above an item</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipTop">
        <div class="jr-mTooltip jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip appears above an item</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipRight">
        <div class="jr-mTooltip jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip appears to the right of an item</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipLeft">
        <div class="jr-mTooltip jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip appears to the left of an item</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipBottomLeft">
        <div class="jr-mTooltip jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip appears to the bottom left of an item</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipBottomRight">
        <div class="jr-mTooltip jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip appears to the bottom right of an item</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipLeft">
        <div class="jr-mTooltip jr-mTooltipWarning jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip is a warning tooltip</p>
        </div>
    </div>
</div>

<div class="demoContainer">
    <div class="jr jr-mTooltipContainer jr-mTooltipLeft">
        <div class="jr-mTooltip jr-mTooltipError jr" aria-hidden="true" role="tooltip">
            <p class="jr-mTooltip-text jr">This tooltip is an error tooltip</p>
        </div>
    </div>
</div>

</body>
</html>
