{{ if (exportMode && !isRepository) { }}
<p class="title">{{- i18n['import.file.encryption'] }}</p>
{{ } }}
<fieldset class="group" id="secretKey">
    <legend class="">
        <span>{{- i18n['import.secret.key'] }}</span>
    </legend>

    <ul class="list inputSet">
        <li class="leaf">
            <div class="control radio twoLine">
                <label class="wrap" for="defaultKey">{{- i18n['import.use.default.key'] }}</label>
                <p class="hint">{{- i18n['import.hint.default.key'] }}</p>
                <input
                        checked="checked"
                        id="defaultKey"
                        class="jr-jDefaultKey"
                        name="keyType"
                        type="radio"
                        value=""
                        data-bind="checked:keyType"
                >
            </div>
        </li>
        <li class="leaf">
            <div class="control radio twoLine">
                <label for="universalKey" class="wrap">{{- i18n['import.use.universal.key'] }}</label>
                <p class="hint">{{- i18n['import.hint.universal.key'] }}</p>
                <input
                        id="universalKey"
                        class="jr-juniversalKeyValue"
                        name="keyType"
                        type="radio"
                        value="{{- model.secureKeyTypes.UNIVERSALKEY }}"
                        data-bind="checked:keyType"
                >
            </div>
        </li>
        {{ if (showCustomKey) { }}
        <li class="leaf">
            <div class="control radio twoLine">
                <label for="keyAlias" class="wrap">{{- i18n['import.use.custom.key'] }}</label>
                <p class="hint">{{- i18n['import.hint.custom.key'] }}</p>
                <input
                        id="keyAlias"
                        class="jr-jCustomKey"
                        name="keyType"
                        type="radio"
                        value="{{- model.secureKeyTypes.CUSTOMKEY }}"
                        data-bind="checked:keyType"
                >
                <div class="control select inline">
                    <select data-bind="enabled:isKeyUseCustom, value:keyAlias" , name="keyAlias", id="importCustomKey">

                    </select>
                    <span class="message warning"></span>
                </div>
            </div>
        </li>
        {{ } }}
        {{ if (showKeyValue) { }}
        <li class="leaf">
            <div class="control radio twoLine">
                <label for="keyValue" class="wrap">{{- i18n['import.use.key.value'] }}</label>
                <input
                        id="keyValue"
                        class="jr-jKeyValue"
                        name="keyType"
                        type="radio"
                        value="{{- model.secureKeyTypes.VALUE }}"
                        data-bind="checked:keyType"
                >
                <div class="control inline" data-bind="classes:{error:invalidKeyError}">
                    <input class="jr-jSecretKey" data-bind="enabled:isKeyUseValue, value:secretKey" name="secret-key" type="password" size="60">
                    <div class="warning message" data-bind="text:invalidKeyError"></div>
                </div>
            </div>
        </li>
        <li class="leaf last">
            <div class="control radio twoLine">
                <label for="keyFile" class="wrap">{{- i18n['import.use.key.file'] }}</label>
                <input
                        id="keyFile"
                        class="jr-jKeyFile"
                        name="keyType"
                        type="radio"
                        value="{{- model.secureKeyTypes.FILE }}"
                        data-bind="checked:keyType"
                >
                <div class="control inline" data-bind="classes:{error:invalidSecureFileContentError}">
                    <input data-bind="enabled:isKeyUseFile, value:secretUri" class="jr-jSecretUri" type="text" name="secret-uri" size="60">
                    <button data-bind="enabled:isKeyUseFile" class="button action jr-jRepositoryBrowserButton" type="button" name="repositoryBrowserButton">
                        <span class="wrap">{{- i18n2['button.browse'] }}<span class="icon"></span></span>
                    </button>
                    <span class="message warning" data-bind="text:invalidSecureFileContentError"></span>
                    <span class="message hint"></span>
                </div>
            </div>
        </li>
        {{ } }}

    </ul>
</fieldset>