<div id="select" class="panel dialog select overlay moveable centered_horz centered_vert hidden">
    <div class="sizer diagonal"></div>
    <div class="content hasFooter">
        <div class="header mover">
            <div class="title">{{- title }}</div>
        </div>
        <div class="body"></div>
        <div class="footer ">
            <button class="button action primary up"><span class="wrap">{{- primaryButtonLabel }}</span><span class="icon"></span></button>
            <button class="button action up"><span class="wrap">{{- secondaryButtonLabel }}</span><span class="icon"></span></button>
        </div>
    </div>
</div>