<!DOCTYPE html>
<html class="jr">
<head>
    <title>Icon Color</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">
    <div style="width:86px; padding:.545em; background-color:#0081cb">
        <div class="jr-mIcon jr-filter jr-mIconInverted jr-mIconSmall jr"></div>
        <div class="jr-mIcon jr-filter jr-mIconInverted jr"></div>
        <div class="jr-mIcon jr-filter jr-mIconInverted jr-mIconLarge jr"></div>
    </div>
</body>
</html>
