<!DOCTYPE html>
<html>
<head>
    <title>Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">

<div class="jr-mMessage jr">
    <div class="jr-mMessage-iconContainer jr">
        <span class="jr-mMessage-icon jr"></span>
    </div>
    <div class="jr-mMessage-textContainer jr">
        <p class="jr-mMessage-title jr">Message Title</p>
        <p class="jr-mMessage-text jr">A general message of no particular urgency goes here.</p>
    </div>
</div>

</body>
</html>