<div class="panel dialog overlay standardAlert moveable centered_horz centered_vert sizeable hidden" id="standardAlert">

	<js-templateNonce></js-templateNonce>




	<!--cosmetic-->
	<div class="corner top right"></div>
	<div class="corner top left"></div>
	<div class="corner bottom right"></div>
	<div class="corner bottom left"></div>
	<div class="edge rl right"></div>
	<div class="edge rl left"></div>
	<div class="edge tb top"></div>
	<div class="edge tb bottom"></div>
	<!--/cosmetic-->
	<div class="sizer diagonal"></div>

	<div class="content">
		<div class="header mover">
			<div class="cosmetic"></div>

			<div class="title">
				Alert
			</div>

		</div>
		<div class="body  ">



			<div id="errorPopupContents"></div>



		</div>
		<div class="footer ">

			<button class="button action primary up" id=""><span class="wrap">Close</span><span class="icon"></span></button>

		</div>
	</div>
</div>