<!DOCTYPE html>
<html>
<head>
    <title>Crosstab Containers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>


<div class="jr-mDatatableCrosstab jr">
    <div class="jr-mDatatableCrosstab-headerContainer jr">
        <div class="jr-mDatatableCrosstab-header-rowlabelsContainer jr"></div>
        <div class="jr-mDatatableCrosstab-header-columnlabelsContainer jr"></div>
    </div>
    <div class="jr-mDatatableCrosstab-bodyContainer jr">
        <div class="jr-mDatatableCrosstab-body-rowlabelsContainer jr"></div>
        <div class="jr-mDatatableCrosstab-body-dataContainer jr"></div>
    </div>
</div>
</body>
</html>
