<div class="baseTableContainer {{-type}}">
    <div class="baseTable">
        <div class="table-row thead">
            <div class="name table-column viewer">
                <div class="item">
                    <p>
                        {{- i18n["attributes.name"]}}
                    </p>
                </div>
            </div>
            <div class="value table-column viewer">
                <div class="item">
                    <p>
                        {{- i18n["attributes.value"]}}
                    </p>
                </div>
            </div>
            <div class="secure table-column viewer">
                <div class="item">
                    <p>
                        {{- i18n["attributes.encrypted"]}}
                    </p>
                </div>
            </div>
            {{ if (type !== types.SERVER) { }}
            <div class="inherited table-column viewer">
                <div class="item">
                    <p>
                        {{- i18n["attributes.inherited"]}}
                    </p>
                </div>
            </div>
            {{ } if (type !== types.USER) { }}
            <div class="permission table-column viewer">
                <div class="item">
                    <p>
                        {{- i18n["attributes.permission"]}}
                    </p>
                </div>
            </div>
            {{ } }}
        </div>
        <div class="tbody"></div>
    </div>
</div>
