<!DOCTYPE html>
<html>
<head>
    <title>Crosstab Body Row Labels Container</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>


<div class="jr-mDatatableCrosstab jr">
    <div class="jr-mDatatableCrosstab-headerContainer jr">
        <div class="jr-mDatatableCrosstab-header-rowlabelsContainer jr">
            <table class="jr-mDatatable jr-mDatatableCrosstab jr">
                <tbody class="jr-mDatatable-body jr">
                <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowGroup jr">
                    <td rowspan="7" class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr" style="width:80px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Q1</div>
                        </div>
                    </td>
                    <td rowspan="3" class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Drink</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Milk</div>
                        </div>
                    </td>
                </tr>

                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr-mDatatable-rowMember jr-mDatatable-rowMemberLast jr">
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Juice</div>
                        </div>
                    </td>
                </tr>

                <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowMember jr-mDatatable-rowTotal jr">
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">
                                <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                Totals
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr-mDatatable-rowGroup jr">
                    <td rowspan="3" class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Food</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Bread</div>
                        </div>
                    </td>
                </tr>

                <!-- ROW 6 -->
                <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowMember jr-mDatatable-rowMemberLast jr">
                    <!-- ROW GROUP -->
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellField jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Pizza</div>
                        </div>
                    </td>
                </tr>

                <!-- ROW 7 -->
                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr-mDatatable-rowMember jr-mDatatable-rowTotal jr">
                    <!-- ROW GROUP -->
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">
                                <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                Totals
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- ROW 8 -->
                <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowMember jr-mDatatable-rowTotal jr">
                    <!-- ROW GROUP -->
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">
                                <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                Totals</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Totals</div>
                        </div>
                    </td>
                </tr>

                <!-- ROW 9 -->
                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr-mDatatable-rowMember jr-mDatatable-rowTotal jr">
                    <!-- ROW GROUP -->
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">
                                <span class="jr-mDatatable-cell-expander jr-mIcon jr-isExpanded jr"></span>
                                Totals
                            </div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Totals</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellRowlabel jr-mDatatable-cellTotal jr">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-text jr">Totals</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
