<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Form</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">


</head>
<!-- NOTE 1. Top padding measurement is dynamically generated because if base font-size changes due to custom theming, this measurement will change -->

<body class="jr-lPage jr">
<form class="jr-mForm jr" style="width: 300px">
    <h1 class="jr-mForm-title jr">Form Title</h1>
    <p class="jr-mForm-instructions jr">Form instructions.</p>
    <div class="jr-mForm-section jr-mForm-sectionIndent jr">
        <h2 class="jr-mForm-section-title jr">Section One</h2>
        <div class="jr-mForm-section-group jr">
            <p style="font-style:italic; opacity:.4; margin:2em 0">input modules go here</p>
        </div>
    </div>
    <div class="jr-mForm-section jr-mForm-sectionIndent jr">
        <h2 class="jr-mForm-section-title jr">Section Two</h2>
        <div class="jr-mForm-section-group jr">
            <p style="font-style:italic; opacity:.4; margin:2em 0">input modules go here</p>
        </div>

        <div class="jr-mForm-validation jr">
            <div class="jr-mForm-validation-button jr">
                <button class="jr-mButton jr-mButtonText jr-mButtonPrimary jr-mButtonMedium jr">
                    <span class="jr-mButton-label jr">Validate Form</span>
                </button>
            </div>
            <div class="jr-mForm-validation-alert jr-mForm-validation-alertError jr-isVisible jr">
                <span class="jr-mForm-validation-alert-icon jr-mIcon jr-mIconSmall jr-cancelRound jr"></span>
                <span class="jr-mForm-validation-alert-text jr">Error. This form is not valid.</span>
            </div>
        </div>
    </div>

</form>
</body>
</html>
