<div class="baseTableContainer">
    <div class="baseTable resetSettingsTable">
        <div class="table-row thead">
            <div class="name table-column">
                <div class="item">
                    <p>
                        {{- i18n["editSettings.name"]}}
                    </p>
                </div>
            </div>
            <div class="value table-column">
                <div class="item">
                    <p>
                        {{- i18n["editSettings.value"]}}
                    </p>
                </div>
            </div>
            <div class="actions table-column"></div>
        </div>
        <div class="tbody"></div>
    </div>
</div>