<label class="control input text" title="{{- title }}">
    <span class="wrap">{{- label }}</span>
    <input name="label" class="" type="text" value="">
    <span class="message warning"></span>
</label>

<js-templateNonce></js-templateNonce>

<label class="control textArea">
    <span class="wrap">{{- description }}</span>
    <textarea name="description" type="text"></textarea>
    <span class="message warning"></span>
</label>

<div class="control groupBox treeBox">
    <div class="content">
        <div class="header ">
            <div class="title"></div>
        </div>
        <div class="body"></div>
    </div>
</div>

<label name="commonErrorMessage" class="group">
    <span class="message warning"></span>
</label>