<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overlay with Spinner</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
    <link type="text/css" href="../../../../themes/default/jquery-ui/jquery-ui.css" rel="stylesheet">

    <script type="text/javascript" src="../../requireSnippetsConfig.js"></script>
    <script type="text/javascript" src="../../../bower_components/requirejs/require.js"></script>
    <script type="text/javascript" src="../../../../config.js"></script>

</head>
<body>
<div class="jr" style="height:353px; width:615px; background-image:url('report.png')">
    <div class="jr-mOverlay jr jr-jOverlay">
        <div class="jr-mOverlay-wrapper jr">
            <div class="jr-mSpinner jr"></div>
        </div>
    </div>
</div>
</body>
</html>
