<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Single-Select</title>
    <meta content="text/html; charset=UTF-8"http-equiv="Content-Type">
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">

</head>

<body class="jr">

<div class="jr-mSingleselect jr-uWidth-350px jr">
    <a class="jr-mSingleselect-input jr">
        <span class="jr-mSingleselect-input-placeholder jr">Click to select item...</span>
        <span class="jr-mSingleselect-input-selection jr"></span>
        <div class="jr-mSingleselect-input-expander jr"></div>
    </a>
</div>

</body>
</html>
