<div class="wrap draggable">

    <js-templateNonce></js-templateNonce>
    <div class="column one">
        <p class="jobID">{{- model.id }}</p>
    </div>
    <div class="column two">
        <p class="jobName">{{- model.label }}</p>
        <p class="jobOwner">{{- model.owner }}</p>
    </div>
    <div class="column three">
        <p class="jobState">{{- model.state.value }}</p>
    </div>
    <div class="column four">
        <p class="lastRanDate">
            {{- lastRanDate }}
        </p>
        <p class="nextRunDate">
            {{- nextRunDate }}
        </p>
    </div>
    <div class="column five">
	    <div class="jobDelete">
		    <button name="deleteJob" class="button action simple delete"></button>
	    </div>
	    <div class="jobEdit">
		    <button name="editJob" class="button action simple edit"></button>
	    </div>
	    <p class="jobEnabled">
		    <input name="enableJob" type="checkbox" {{ if (isJobEnabled) { }} checked="checked" {{ } }} ></input>
	    </p>
    </div>
</div>

