<!DOCTYPE html>
<html>
<head>
    <title>Button, Size</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">
<button class="jr-mButton jr-mButtonText jr-mButtonPrimary jr-mButtonSmall jr">
    <span class="jr-mButton-label jr">Save</span>
</button>
<button class="jr-mButton jr-mButtonText jr-mButtonDefault jr-mButtonSmall jr">
    <span class="jr-mButton-label jr">Cancel</span>
</button>
<button class="jr-mButton jr-mButtonText jr-mButtonPrimary jr-mButtonLarge jr">
    <span class="jr-mButton-label jr">Save</span>
</button>
<button class="jr-mButton jr-mButtonText jr-mButtonDefault jr-mButtonLarge jr">
    <span class="jr-mButton-label jr">Cancel</span>
</button>
</body>
</html>
