    <div id="aboutBox" class="panel dialog aboutBox overlay moveable centered_horz centered_vert centered_vert centered_horz hidden" style="margin-left: -121.5px; left: 50%; margin-top: -157px; top: 50%; z-index: 902; " tabindex="-1">
        <!--cosmetic-->
        <div class="corner top right"></div>
        <div class="corner top left"></div>
        <div class="corner bottom right"></div>
        <div class="corner bottom left"></div>
        <div class="edge rl right"></div>
        <div class="edge rl left"></div>
        <div class="edge tb top"></div>
        <div class="edge tb bottom"></div>
        <!--/cosmetic-->
        <div class="content">
            <div class="header mover">
                <div class="cosmetic"></div>
                <div class="title">
                    About JasperReports Server
                </div>
            </div>
            <div class="body  ">
                <!--/WEB-INF/jsp/templates/container.jsp revision A-->
                <div class="control groupBox fillParent">
                    <!--cosmetic-->
                    <div class="corner top right"></div>
                    <div class="corner top left"></div>
                    <div class="corner bottom right"></div>
                    <div class="corner bottom left"></div>
                    <div class="edge rl right"></div>
                    <div class="edge rl left"></div>
                    <div class="edge tb top"></div>
                    <div class="edge tb bottom"></div>
                    <!--/cosmetic-->
                    <div class="content">
                        <div class="header ">
                            <div class="cosmetic"></div>
                            <div class="title">
                            </div>
                        </div>
                        <div class="body  ">
                            <p class="message">Product Edition:&nbsp;<span class="emphasis">Enterprise</span></p>
                            <p class="message">Features: <span class="emphasis">null</span></p>
                            <p class="message">Product Version: <span class="emphasis">4.5.1</span></p>
                            <p class="message">Build: <span class="emphasis">20111212_1644</span></p>
                            <p class="message">License Type: <span class="emphasis">Commercial</span></p>
                            <p class="message">Expiration: <span class="emphasis">None</span></p>
                        </div>
                        <div class="footer ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer ">
                <button class="button action primary up"><span class="wrap">Close</span><span class="icon"></span></button>
            </div>
        </div>
    </div>