<div style="width: 250px;" class="mSelect-avListPlaceholder {{ print(expanded ? 'expanded' : 'collapsed'); }}">
    <input type="text" class="mSelect-input">
    <div class="mSelect-listContainer" style="width: 250px; position: absolute; z-index: 1001;">
        <!-- list position -->
        <div class="mSelect-footer">
            <a class="mSelect-footer-selectOptions all">All</a>
            <a class="mSelect-footer-selectOptions none">None</a>
            <a class="mSelect-footer-selectOptions invert">Inverse</a>
            <button tabindex="-1" class="mSelect-footer-button">Close</button>
        </div>
    </div>
</div>