<div class="panel info tooltip hidden" id="jsTooltip">
    <!--cosmetic-->
    <div class="corner top right"></div>
    <div class="corner top left"></div>
    <div class="corner bottom right"></div>
    <div class="corner bottom left"></div>
    <div class="edge rl right"></div>
    <div class="edge rl left"></div>
    <div class="edge tb top"></div>
    <div class="edge tb bottom"></div>
    <!--/cosmetic-->
    <div class="content">
        <div class="header ">
            <div class="cosmetic"></div>
            <div class="title">
            </div>
        </div>
        <div class="body  ">
        <p class="message"></p>
        </div>
        <div class="footer ">
        </div>
    </div>
</div>

<div id="sampleElement" tooltiptext="Ho! Ho! Ho!">Sample element</div>