<div class="menu vertical context hidden" id="menu" tabindex="-1" style="left: 134px; top: 217px; z-index: 99999;">


    <!--cosmetic-->
    <div class="corner top right"></div>
    <div class="corner top left"></div>
    <div class="corner bottom right"></div>
    <div class="corner bottom left"></div>
    <div class="edge rl right"></div>
    <div class="edge rl left"></div>
    <div class="edge tb top"></div>
    <div class="edge tb bottom"></div>
    <!--/cosmetic-->

    <div class="content">
        <ul id="menuList">
            <li class="leaf" id="menuList_simpleAction.invokeFolderAction"><p class="wrap button"><span
                    class="icon"></span><!--Item text goes here-->Add Folder</p></li>
            <li class="node" id="menuList_flyout_33"><p class="wrap button"><span class="icon"></span><!--Item text goes here-->
                Add Resource</p>

                <div class="menu vertical context hidden" id="menuList_flyout_33_subMenu" tabindex="-1"
                     style="display: none; position: absolute; left: 0pt; top: 0px; z-index: 99999;">


                    <!--cosmetic-->
                    <div class="corner top right"></div>
                    <div class="corner top left"></div>
                    <div class="corner bottom right"></div>
                    <div class="corner bottom left"></div>
                    <div class="edge rl right"></div>
                    <div class="edge rl left"></div>
                    <div class="edge tb top"></div>
                    <div class="edge tb bottom"></div>
                    <!--/cosmetic-->

                    <div class="content">
                        <ul id="menuList_subMenu">
                            <li class="leaf up" id="menuList_listItem_35_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->Data Source</p></li>
                            <li class="leaf up" id="menuList_listItem_3_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->Datatype</p></li>
                            <li class="leaf up" id="menuList_listItem_12_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->Domain</p></li>
                            <li class="node" id="menuList_flyout_8"><p class="wrap button"><span class="icon"></span><!--Item text goes here-->
                                File</p>

                                <div class="menu vertical context hidden" id="menuList_flyout_8_subMenu" tabindex="-1"
                                     style="display: none; position: absolute; left: 0pt; top: -38px; z-index: 99999;">


                                    <!--cosmetic-->
                                    <div class="corner top right"></div>
                                    <div class="corner top left"></div>
                                    <div class="corner bottom right"></div>
                                    <div class="corner bottom left"></div>
                                    <div class="edge rl right"></div>
                                    <div class="edge rl left"></div>
                                    <div class="edge tb top"></div>
                                    <div class="edge tb bottom"></div>
                                    <!--/cosmetic-->

                                    <div class="content">
                                        <ul id="menuList_subMenu">
                                            <li class="leaf up" id="menuList_listItem_28_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                Access Grant Schema</p></li>
                                            <li class="leaf up" id="menuList_listItem_47_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                Font</p></li>
                                            <li class="leaf up" id="menuList_listItem_10_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                Image</p></li>
                                            <li class="leaf up" id="menuList_listItem_50_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                CSS</p></li>
                                            <li class="leaf up" id="menuList_listItem_30_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                JAR</p></li>
                                            <li class="leaf up" id="menuList_listItem_6_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                JRXML</p></li>
                                            <li class="leaf up" id="menuList_listItem_39_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                OLAP Schema</p></li>
                                            <li class="leaf up" id="menuList_listItem_17_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                Resource Bundle</p></li>
                                            <li class="leaf up" id="menuList_listItem_47_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                Style Template</p></li>
                                            <li class="leaf up" id="menuList_listItem_29_invokeCreate"><p
                                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                                XML</p></li>
                                        </ul>
                                    </div>
                                    <!-- /content -->
                                </div>
                            </li>
                            <li class="leaf up" id="menuList_listItem_22_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->Input Control</p></li>
                            <li class="leaf up" id="menuList_listItem_25_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->JasperReport</p></li>
                            <li class="leaf up" id="menuList_listItem_33_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->List of Values</p></li>
                            <li class="leaf up" id="menuList_listItem_33_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->Mondrian XML/A Source</p></li>
                            <li class="leaf up" id="menuList_listItem_38_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->OLAP Client Connection</p></li>
                            <li class="leaf up" id="menuList_listItem_23_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->OLAP View</p></li>
                            <li class="leaf up" id="menuList_listItem_31_invokeCreate"><p class="wrap toggle button">
                                <span class="icon"></span><!--Item text goes here-->Query</p></li>
                        </ul>
                    </div>
                    <!-- /content -->
                </div>
            </li>
            <li class="leaf separator" id="menuList_separator_3"></li>
            <li class="leaf" id="menuList_simpleAction.invokeFolderAction"><p class="wrap button"><span
                    class="icon"></span><!--Item text goes here-->Copy</p></li>
            <li class="leaf" id="menuList_simpleAction.invokeFolderAction"><p class="wrap button"><span
                    class="icon"></span><!--Item text goes here-->Cut</p></li>
            <li class="leaf" id="menuList_simpleAction.invokeFolderAction"><p class="wrap button"><span
                    class="icon"></span><!--Item text goes here-->Delete</p></li>
            <li class="leaf separator" id="menuList_separator_33"></li>
            <li class="leaf" id="menuList_simpleAction.invokeFolderAction"><p class="wrap button"><span
                    class="icon"></span><!--Item text goes here-->Permissions...</p></li>
            <li class="leaf" id="menuList_simpleAction.invokeFolderAction"><p class="wrap button"><span
                    class="icon"></span><!--Item text goes here-->Properties...</p></li>
        </ul>
    </div>
    <!-- /content -->
</div>


<div class="hidden" id="commonMenu">


    <!--cosmetic-->
    <div class="corner top right"></div>
    <div class="corner top left"></div>
    <div class="corner bottom right"></div>
    <div class="corner bottom left"></div>
    <div class="edge rl right"></div>
    <div class="edge rl left"></div>
    <div class="edge tb top"></div>
    <div class="edge tb bottom"></div>
    <!--/cosmetic-->

    <div class="content">
        <ul id="menuList_template">
        </ul>
    </div>
    <!-- /content -->
</div>

<ul class="hidden">

    <li class="leaf" id="menuList_simpleAction"><p class="wrap button"><span class="icon"></span><!--Item text goes here-->
    </p></li>


    <li class="leaf separator" id="menuList_separator"></li>


    <li class="node" id="menuList_flyout"><p class="wrap button"><span class="icon"></span><!--Item text goes here-->
    </p></li>


    <li class="leaf" id="menuList_extraInput"><p class="wrap button"><span class="icon"></span><!--Item text goes here-->
    </p></li>


    <li class="leaf" id="menuList_listItem"><p class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
    </p></li>


    <li class="node mutton" tabindex="-1" id="navigation_mutton"><p class="wrap button"><span class="icon"></span></p>
    </li>
</ul>