    <div id="nothingToDisplay" class="panel info nothingToDisplay centered_vert centered_horz" style="position: absolute; bottom: 33%; right: 25%; min-width: 100px; margin-left: -106px; left: 50%; margin-top: -2px; top: 50%; ">




    <!--cosmetic-->
    <div class="corner top right"></div>
    <div class="corner top left"></div>
    <div class="corner bottom right"></div>
    <div class="corner bottom left"></div>
    <div class="edge rl right"></div>
    <div class="edge rl left"></div>
    <div class="edge tb top"></div>
    <div class="edge tb bottom"></div>
    <!--/cosmetic-->


        <div class="content">
            <div class="header ">
                <div class="cosmetic"></div>

                <div class="title">

                </div>

            </div>
            <div class="body  ">



                            <p class="message">Select a user to display his properties.</p>



            </div>
            <div class="footer ">

            </div>
        </div>
    </div>