    <input type="text" value="" name="input" id="input">
    <button class="button action" id="button"><span class="wrap">Browse…<span
            class="icon"></span></span>
    </button>
    <div class="panel dialog selectFromRepository overlay moveable sizeable centered_horz centered_vert hidden"
         id="selectFromRepository" style="margin-left: -200px; left: 50%;">
        <div class="sizer diagonal"></div>
        <div class="content">
            <div class="header mover">
                <div class="cosmetic"></div>
                <div class="title">
                </div>
            </div>
            <div class="body  ">
                <div class="control groupBox fillParent">
                    <div class="content">
                        <div class="header ">
                            <div class="cosmetic"></div>
                            <div class="title">
                            </div>
                        </div>
                        <div class="body">
                            <ul id="tree"></ul>
                        </div>
                        <div class="footer ">

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer ">
                <button class="button action primary up" id="selectFromRepoBtnSelect"><span
                        class="wrap">Select</span><span class="icon"></span></button>
                <button class="button action up" id="selectFromRepoBtnCancel"><span class="wrap">Cancel</span><span
                        class="icon"></span></button>

            </div>
        </div>
    </div>