    <ul id="testTree"></ul>
    <div id="ajaxbuffer"></div>

    <div style="display:none" id="treeTemplateHolder">

        <ul class="list collapsible" id="list_responsive_collapsible">

            <li class="leaf" id="list_responsive_collapsible:leaf">
                <p class="wrap button draggable"><b class="icon"></b></p>
            </li>


            <li class="node loading" id="list_responsive_collapsible:loading">
                <p class="wrap button draggable"><b class="icon"></b></p>
            </li>
        </ul>

        <ul class="list collapsible folders" id="list_responsive_collapsible_folders">
            <li class="folders" id="list_responsive_collapsible_folders:folders">
                <p class="wrap button draggable"><b class="icon"></b></p>
            </li>

        </ul>


        <ul class="list collapsible folders" id="list_responsive_collapsible_folders_specialContent">
            <li class="node specialContent" id="list_responsive_collapsible_folders_specialContent:folders">
                <p class="wrap button "><b class="icon"></b></p>
            </li>

            <li class="leaf" id="list_responsive_collapsible_folders_specialContent:leaf">
                <p class="wrap button draggable"><b class="icon"></b></p>
            </li>
        </ul>


        <ul class="list collapsible fields" id="list_responsive_collapsible_fields">
            <li class="fields" id="list_responsive_collapsible_fields:fields">
                <p class="wrap button draggable"><span class="icon button"></span></p>
            </li>
        </ul>


        <ul class="list collapsible type_tables" id="list_responsive_collapsible_type_tables">
            <li class="type_tables" id="list_responsive_collapsible_type_tables:tables">
                <p class="wrap button draggable"><span class="icon button"></span></p>
            </li>


            <li class="type_tables" id="list_responsive_collapsible_type_tables:fields">
                <p class="wrap"><span class="icon noBubble"></span></p>
            </li>
        </ul>


        <ul class="list collapsible type_sets column simple" id="list_responsive_collapsible_type_sets">
            <li class="set" id="list_responsive_collapsible_type_sets:sets">
                <p class="wrap button draggable"><span class="icon button"></span></p>
            </li>
        </ul>


        <ul class="list collapsible" id="list_responsive">
            <li id="list_responsive:twoColumn">
                <div class="wrap button"><span class="icon button"></span>

                    <p class="column one"></p>

                    <p class="column two"></p></div>
            </li>
        </ul>


        <input type="text" value="" id="list_responsive_collapsible:input">

    </div>
