<div class="jr jr-mTooltipContainer jr-mTooltip{{ print(_.str.capitalize(placement)) }} {{ if (!visible) print('jr-isInvisible'); }}" style="position:absolute">
    <div class="jr-mTooltip {{ if(type !== defaultType) print('jr-mTooltip' + _.str.capitalize(type)) }} jr"
         aria-hidden="true" role="tooltip">
        <p class="jr-mTooltip-label jr jr-jTooltipLabel">{{- content.label ? content.label : "" }}</p>
        <p class="jr-mTooltip-text jr jr-jTooltipText">{{- content.text ? content.text : "" }}</p>
    </div>
</div>