<div class="panel dialog overlay standardConfirm moveable centered_horz centered_vert">

    <js-templateNonce></js-templateNonce>
    <div class="content hasFooter ">
        <div class="header mover">
            <div class="title">
                Confirm
            </div>
        </div>

        <div class="body  ">
        </div>

        <div class="footer ">

            <button class="button action primary up ok" name="buttonOK">
                <span class="wrap">OK</span>
                <span class="icon"></span>
            </button>
            <button class="button action up ignore hidden" name="buttonIgnore">
                <span class="wrap">Ignore</span>
                <span class="icon"></span>
            </button>
            <button class="button action up cancel" name="buttonCancel">
                <span class="wrap">Cancel</span>
                <span class="icon"></span>
            </button>
        </div>

    </div>
</div>