<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2005 - 2020 TIBCO Software Inc. All rights reserved.
  ~ http://www.jaspersoft.com.
  ~
  ~ Unless you have purchased a commercial license agreement from Jaspersoft,
  ~ the following license terms apply:
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<beans profile="jrs"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="webHelp" class="com.jaspersoft.jasperserver.war.webHelp.WebHelpLookup">
        <property name="showHelp" value="true"/>
        <property name="hostURL" value="http://help.jaspersoft.com/js-help-v7-en/"/>
        <property name="pagePrefix" value="Default_CSH.htm#"/> 
        <!-- context keys (defined by javascript variable webHelpModule.'helpContext' for each page)-->
        <property name="helpContextMap">
            <map>
                <entry key="default" value="100"/>
                <entry key="bi_overview" value="100"/>
                <entry key="login" value="150"/>
                <entry key="legacy_dashboard" value="200"/>
                <entry key="ad_hoc" value="300"/>
                <entry key="domain" value="500"/>
                <entry key="search" value="600"/>
                <entry key="analysis" value="700"/>
                <entry key="admin" value="800"/>
                <entry key="repo" value="900"/>
                <entry key="dashboard" value="1000"/>
                <entry key="domain2" value="1100"/>
                <entry key="domain_metadata" value="1101"/>
                <entry key="domain_joins" value="1111"/>
                <entry key="domain_filters" value="1121"/>
                <entry key="domain_presentation" value="1131"/>
                <entry key="domain_security" value="1141"/>
                <entry key="domain_locales" value="1151"/>
            </map>
        </property>
    </bean>

</beans>
