<!DOCTYPE html>
<html class="jr">
<head>
    <title>Icon Size</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">
    <span class="jr-mIcon jr-mIconSmall jr-home jr"></span>
    <span class="jr-mIcon jr-mIconSmall jr-filter jr"></span>
    <span class="jr-mIcon jr-mIconLarge jr-home jr"></span>
    <span class="jr-mIcon jr-mIconLarge jr-filter jr"></span>
</body>
</html>
