<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="webHelp" class="com.jaspersoft.jasperserver.war.webHelp.WebHelpLookup">
        <property name="showHelp" value="true"/>
        <property name="hostURL" value="http://help.jaspersoft.com/js-help-v5-en/"/>
        <property name="pagePrefix" value="Default_CSH.htm#"/> 
        <!-- context keys (defined by javascript variable webHelpModule.'helpContext' for each page)-->
        <property name="helpContextMap">
            <map>
                <entry key="default" value="100"/>
                <entry key="bi_overview" value="100"/>
                <entry key="login" value="150"/>
                <entry key="dashboard" value="200"/>
                <entry key="ad_hoc" value="300"/>
                <entry key="domain" value="500"/>
                <entry key="search" value="600"/>
                <entry key="analysis" value="700"/>
                <entry key="admin" value="800"/>
                <entry key="repo" value="900"/>
            </map>
        </property>
    </bean>

</beans>
