<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="MongoDbDataSource"
        class="com.jaspersoft.jasperserver.api.engine.jasperreports.util.CustomDataSourceDefinition">
        <property name="factory" ref="customDataSourceServiceFactory" />
        <property name="name" value="MongoDbDataSource" />
        <property name="serviceClassName"
            value="com.jaspersoft.mongodb.jasperserver.MongoDbDataSourceService" />
        <property name="validator">
            <bean
                class="com.jaspersoft.jasperserver.remote.resources.validation.MongoDbDataSourceValidator" />
        </property>
        <property name="propertyDefinitions">
            <list>
                <map>
                    <entry key="name" value="mongoURI" />
                    <entry key="default"
                        value="mongodb://hostname:27017/database" />
                </map>
                <map>
                    <entry key="name" value="username" />
                    <entry key="default" value="" />
                </map>
                <map>
                    <entry key="name" value="password" />
                    <entry key="default" value="" />
                </map>
                <map>
                    <entry key="name" value="schema" />
                    <entry key="default" value="" />
                    <entry key="displayHeight" value="5" />
                </map>
                <map>
                    <entry key="name" value="connectionManager" />
                    <entry key="hidden" value="true" />
                    <entry key="default">
                        <ref bean="MongoDbConnectionManager" />
                    </entry>
                </map>
            </list>
        </property>
        <property name="queryExecuterMap">
            <map>
                <entry key="MongoDbQuery"
                    value="com.jaspersoft.mongodb.query.MongoDbQueryExecuterFactory" />
            </map>
        </property>
    </bean>

    <bean name="MongoDbConnectionManager"
        class="com.jaspersoft.mongodb.connection.MongoDbConnectionManager"
        destroy-method="shutdown">
        <!-- <property name="maxIdle" value="" /> -->
        <!-- <property name="minIdle" value="" /> -->
        <!-- <property name="maxActive" value="" /> -->
    </bean>
</beans>