<!DOCTYPE html>
<html class="jr">
<head>
    <title>All Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">

    <style>
        body.jr {padding: 0px;}

        h1.jr {
            background-color:#860000;
            color:#fff;
            font-size: 2.182em;
            font-weight: bold;
            padding:16px;
            text-align:center;
        }
    </style>
</head>

<body class="jr">
    <ul class="jr-mGrid jr">
        <!-- A B C -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-arrowDoubleLeft jr"></div>
            <span>arrowDoubleLeft</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-arrowDoubleRight jr"></div>
            <span>arrowDoubleRight</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-arrowLeft jr"></div>
            <span>arrowLeft</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-arrowRight jr"></div>
            <span>arrowRight</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-bookmark jr"></div>
            <span>bookmark</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-calendar jr"></div>
            <span>calendar</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-cancel jr"></div>
            <span>cancel</span>
        </li>

        <!-- D E F -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-database jr"></div>
            <span>database</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-delete jr"></div>
            <span>delete</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-download jr"></div>
            <span>download</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-edit jr"></div>
            <span>edit</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-export jr"></div>
            <span>export</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-filter jr"></div>
            <span>filter</span>
        </li>

        <!-- G H I -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-gear jr"></div>
            <span>gear</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-gears jr"></div>
            <span>gears</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-grid jr"></div>
            <span>grid</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-hashtag jr"></div>
            <span>hashtag</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-home jr"></div>
            <span>home</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-inputControl jr"></div>
            <span>inputControl</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-invert jr"></div>
            <span>invert</span>
        </li>

        <!-- J K L -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-joinFull jr"></div>
            <span>joinFull</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-joinInner jr"></div>
            <span>joinInner</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-joinLeft jr"></div>
            <span>joinLeft</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-joinRight jr"></div>
            <span>joinRight</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-loading jr"></div>
            <span>loading</span>
        </li>

        <!-- M N O -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-maximize jr"></div>
            <span>maximize</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-minimize jr"></div>
            <span>minimize</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-minus jr"></div>
            <span>minus</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-checkmark jr"></div>
            <span>ok</span>
        </li>

        <!-- P Q R-->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-plus jr"></div>
            <span>plus</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-properties jr"></div>
            <span>properties</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-query jr"></div>
            <span>query</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-redo jr"></div>
            <span>redo</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-refresh jr"></div>
            <span>refresh</span>
        </li>

        <!-- S T U -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-save jr"></div>
            <span>save</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-search jr"></div>
            <span>search</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-sort jr"></div>
            <span>sort</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-stop jr"></div>
            <span>stop</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-switch jr"></div>
            <span>switch</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-treeHorizontal jr"></div>
            <span>treeHorizontal</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-treeVertical jr"></div>
            <span>treeVertical</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-undo jr"></div>
            <span>undo</span>
        </li>
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-undoAll jr"></div>
            <span>undoAll</span>
        </li>

        <!-- V W X -->
        <li class="jr-mGrid-col jr">
            <div class="jr-mIcon jr-view jr"></div>
            <span>view</span>
        </li>

    </ul>

</body>
</html>

</body>
</html>
