<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Table Snippet</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body class="jr">

<div class="jr-mTable jr-mTableGrid jr">
    <div class="jr-mTable-row jr-mTable-rowHeader jr">
        <div class="jr-mTable-cell jr-uWidth-25pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-text jr">Account</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-15pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-text jr">Customer ID</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-15pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-text jr">Owner</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-20pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-date jr">Last Invoice</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-10pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-currency jr">Billable Amount</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-100px jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-actionbuttons jr"></p>
            </div>
        </div>
    </div>
    <div class="jr-mTable-row jr">
        <div class="jr-mTable-cell jr-uWidth-25pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-titletext jr">Acme Construction Company</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-15pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-text jr">4277835</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-15pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-text jr">John Johnson</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-20pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-datetime jr">08/30/2014 12:00:00 AM </p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-10pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <p class="jr-mTable-cell-currency jr">35,000.00</p>
            </div>
        </div>
        <div class="jr-mTable-cell jr-uWidth-15pc jr">
            <div class="jr-mTable-cell-wrapper jr">
                <div class="jr-mTable-cell-actionbuttons jr">
                    <button class="jr-mButton jr-mButtonAction jr" aria-label="">
                        <div class="jr-mButtonAction-icon jr-mIcon jr-edit jr"></div>
                    </button>
                    <button class="jr-mButton jr-mButtonAction jr" aria-label="">
                        <div class="jr-mButtonAction-icon jr-mIcon jr-delete jr"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
