<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <bean id="concreteAuditContext"
          class="com.jaspersoft.jasperserver.api.logging.audit.context.impl.DummyAuditContext"/>

    <context:component-scan base-package="com.jaspersoft.jasperserver.war.cascade.handlers">
        <context:exclude-filter type="regex" expression=".*BaseInputControlHandler"/>
        <context:exclude-filter type="regex" expression=".*BooleanInputControlsHandler"/>
        <context:exclude-filter type="regex" expression=".*MultiSelectListOfValuesInputControlHandler"/>
        <context:exclude-filter type="regex" expression=".*MultiSelectQueryInputControlHandler"/>
        <context:exclude-filter type="regex" expression=".*SingleSelectListOfValuesInputControlHandler"/>
        <context:exclude-filter type="regex" expression=".*SingleSelectQueryInputControlHandler"/>
        <context:exclude-filter type="regex" expression=".*SingleValueInputControlHandler"/>
    </context:component-scan>

    <util:map id="multyDataTypeMapping">
        <entry key="1" value="singleValueText"/>
        <entry key="2" value="singleValueNumber"/>
        <entry key="3" value="singleValueDate"/>
        <entry key="4" value="singleValueDatetime"/>
    </util:map>

    <util:map id="globalDefaultValues" value-type="java.lang.String" key-type="java.lang.Byte">
        <!-- if DataType isn't defined-->
        <entry key="-1" value="~NULL~"></entry>
        <!--TYPE_TEXT = 1-->
        <entry key="1" value="~NULL~"></entry>
        <!--TYPE_NUMBER = 2-->
        <entry key="2" value="~NULL~"></entry>
        <!--TYPE_DATE = 3-->
        <entry key="3" value="~NULL~"></entry>
        <!--TYPE_DATE_TIME = 4-->
        <entry key="4" value="~NULL~"></entry>
        <!--TYPE_TIME = 5-->
        <entry key="5" value="~NULL~"></entry>
    </util:map>

    <util:map id="inputControlTypeNewConfiguration">
        <entry key="1">
            <map>
                <entry key="handler" value-ref="basicInputControlHandler"/>
                <entry key="uiType" value="bool"/>
                <entry key="name" value="input.control.type.boolean"/>
            </map>
        </entry>
        <entry key="2">
            <map>
                <entry key="handler" value-ref="basicInputControlHandler"/>
                <entry key="uiType" value="singleValue"/>
                <entry key="name" value="input.control.type.single.value"/>
            </map>
        </entry>
        <entry key="3">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.SingleSelectListInputControlHandler">
                        <property name="loader" ref="listOvValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="singleSelect"/>
                <entry key="name" value="input.control.type.single.select.lov"/>
            </map>
        </entry>
        <entry key="4">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.SingleSelectListInputControlHandler">
                        <property name="loader" ref="queryValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="singleSelect"/>
                <entry key="name" value="input.control.type.single.select.query"/>
            </map>
        </entry>
        <entry key="6">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.MultiSelectListInputControlHandler">
                        <property name="loader" ref="listOvValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="multiSelect"/>
                <entry key="name" value="input.control.type.multi.select.lov"/>
            </map>
        </entry>
        <entry key="7">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.MultiSelectListInputControlHandler">
                        <property name="loader" ref="queryValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="multiSelect"/>
                <entry key="name" value="input.control.type.multi.select.query"/>
            </map>
        </entry>
        <entry key="8">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.SingleSelectListInputControlHandler">
                        <property name="loader" ref="listOvValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="singleSelectRadio"/>
                <entry key="name" value="input.control.type.single.select.lov.radio"/>
            </map>
        </entry>
        <entry key="9">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.SingleSelectListInputControlHandler">
                        <property name="loader" ref="queryValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="singleSelectRadio"/>
                <entry key="name" value="input.control.type.single.select.query.radio"/>
            </map>
        </entry>
        <entry key="10">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.MultiSelectListInputControlHandler">
                        <property name="loader" ref="listOvValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="multiSelectCheckbox"/>
                <entry key="name" value="input.control.type.multi.select.lov.checkbox"/>
            </map>
        </entry>
        <entry key="11">
            <map>
                <entry key="handler">
                    <bean parent="basicInputControlHandler" class="com.jaspersoft.jasperserver.war.cascade.handlers.MultiSelectListInputControlHandler">
                        <property name="loader" ref="queryValuesLoader"/>
                    </bean>
                </entry>
                <entry key="uiType" value="multiSelectCheckbox"/>
                <entry key="name" value="input.control.type.multi.select.query.checkbox"/>
            </map>
        </entry>
    </util:map>

    <bean id="applyRegexpToEmptyString" class="java.lang.Boolean">
        <constructor-arg value="false"/>
    </bean>
</beans>




