<div class="name table-column" data-tooltip="" data-tooltip-attrs="name, description">
    <div class="item"><p data-bind="text:name"></p></div>
</div>
<div class="value table-column"
     data-tooltip="" data-tooltip-attrs="value">
    <div class="item">
        <p data-bind="text:value"></p>
    </div>
</div>
<div class="actions table-column">
    <div class="item">
        <div class="actionButtons">
            <span>
                <button name="deleteButton" class="button action simple delete"></button>
            </span>
        </div>
    </div>
</div>

