<div class="jr-mMultiselect-search jr">

    <js-templateNonce></js-templateNonce>
    <input class="jr-mInput-search jr" type="text" placeholder="{{- i18n['sic.multiselect.search']}}">
</div>

<div class="jr-mMultiselect-list jr"></div>

<div class="jr-mMultiselect-buttonContainer jr">
    <ul class="jr-mItemselector jr">
        <li  title="{{- i18n['sic.multiselect.selectAll'] }}" class="jr-mItemselector-button jr-uWidth-30pc jr jr-jSelectAll">
            <span class="jr-mItemselector-button-icon jr-mIcon jr-mIconSmall jr-checkmark jr"></span>
            <a class="jr-mItemselector-button-label jr">
                <span class="jr">{{- i18n['sic.multiselect.selectAll'] }}</span>
            </a>
        </li>

        <li  title="{{- i18n['sic.multiselect.deselectAll'] }}" class="jr-mItemselector-button jr-uWidth-30pc jr jr-jSelectNone">
            <span class="jr-mItemselector-button-icon jr-mIcon jr-mIconSmall jr-cancel jr"></span>
            <a class="jr-mItemselector-button-label jr">
                <span class="jr">{{- i18n['sic.multiselect.deselectAll'] }}</span>
            </a>
        </li>

        <li  title="{{- i18n['sic.multiselect.inverse'] }}" class="jr-mItemselector-button jr-uWidth-40pc jr jr-jInvert">
            <span class="jr-mItemselector-button-icon jr-mIcon jr-mIconSmall jr-invert jr"></span>
            <a class="jr-mItemselector-button-label jr">
                <span class="jr">{{- i18n['sic.multiselect.inverse'] }}</span>
            </a>
        </li>
    </ul>
</div>
