<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>

<body class="jr">

<div class="jr-mPanel jr">
    <div class="jr-mPanel-header jr">
        <h2 class="jr-mPanel-header-title jr">Panel with Tree that is long and overflows</h2>
        <div class="jr-mPanel-header-toolset jr-uRight jr">
            <button class="jr-mButton jr-mButtonAction jr-mButtonTool jr-mButtonDropdown jr" aria-label="save">
                <span class="jr-mButton-icon jr-mIcon jr-plus jr"></span>
            </button>
            <button class="jr-mButton jr-mButtonAction jr-mButtonTool jr-mButtonDropdown jr" aria-label="save">
                <span class="jr-mButton-icon jr-mIcon jr-database jr"></span>
            </button>
        </div>
    </div>

    <div class="jr-mPanel-search jr">
        <div class="jr-mInput jr">
            <div class="jr-mInput-searchContainer jr">
                <input class="jr-mInput-search jr" type="text" placeholder="Search...">
                <button class="jr-mInput-search-clear jr" aria-label="clear search">
                    <span class="jr-mIcon jr-cancel jr"></span>
                </button>
                <button class="jr-mInput-search-trigger jr" aria-label="search">
                    <span class="jr-mIcon jr-search jr"></span>
                </button>
            </div>
        </div>
    </div>

</div>

</body>
</html>