<!DOCTYPE html>
<html>
<head>
    <title>Crosstab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>

<table class="jr-mDatatable jr-mDatatableCrosstab jr">
    <thead class="jr-mDatatable-body">
    <tr class="jr-mDatatable-row jr">
        <td class="jr-mDatatable-cell jr">
            <div class="jr-mDatatable-cell-wrapper jr">
                <div class="jr-mDatatable-cell-currency jr">23,478.25</div>
            </div>
        </td>
        <td class="jr-mDatatable-cell jr">
            <div class="jr-mDatatable-cell-wrapper jr">
                <div class="jr-mDatatable-cell-currency jr">2,850,500.00</div>
            </div>
        </td>
        <td class="jr-mDatatable-cell jr">
            <div class="jr-mDatatable-cell-wrapper jr">
                <div class="jr-mDatatable-cell-currency jr">32,111.50</div>
            </div>
        </td>
    </tr>
    </thead>
</table>
</body>
</html>