<!DOCTYPE html>
<html>
<head>
    <title>Crosstab Body Data Container</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" href="../../../../demos/css/jasper-ui-dev.css" rel="stylesheet">
</head>
<body>


<div class="jr-mDatatableCrosstab jr">
    <div class="jr-mDatatableCrosstab-headerContainer jr">
        <div class="jr-mDatatableCrosstab-header-rowlabelsContainer jr">
            <table class="jr-mDatatable jr-mDatatableCrosstab jr">
                <tbody class="jr-mDatatable-body jr">
                <tr class="jr-mDatatable-row jr-mDatatable-rowOdd jr-mDatatable-rowValue jr">
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">10,000.00</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">20,000.00</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr-mDatatable-cellTotal jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">30,000.00</div>
                        </div>
                    </td>
                </tr>

                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr-mDatatable-rowValue jr-mDatatable-rowValueLast jr">
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">8,000.00</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">12,000.00</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr-mDatatable-cellTotal jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">20,000.00</div>
                        </div>
                    </td>
                </tr>

                <tr class="jr-mDatatable-row jr-mDatatable-rowEven jr-mDatatable-rowTotal jr">
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr-mDatatable-cellTotal jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">18,000.00</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr-mDatatable-cellTotal jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">32,000.00</div>
                        </div>
                    </td>
                    <td class="jr-mDatatable-cell jr-mDatatable-cellValue jr-mDatatable-cellTotal jr" style="width:100px;">
                        <div class="jr-mDatatable-cell-wrapper jr">
                            <div class="jr-mDatatable-cell-currency jr">50,000.00</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
