<fieldset class="group">

    <legend><span>{{- i18n['resource.dataSource.aws.settings.title']}}</span></legend>

    <ul class="list inputSet">
        <li class="leaf">
            <div class="control radio">
                <label title="{{- i18n['resource.dataSource.aws.option.useDefault.title']}}" class="wrap">
                    {{- i18n['resource.dataSource.aws.option.useDefault']}}
                </label>
                <input type="radio" value="{{- credentialsType.EC2 }}" name="credentialsType" {{ if(modelAttributes.credentialsType === credentialsType.EC2) { }}checked{{ } }} {{ if (disableAwsDefaults) { }}disabled="disabled"{{ } }}>
            </div>
        </li>
        <li class="leaf">
            <div class="control radio">
                <label title="{{- i18n['resource.dataSource.aws.option.userDefined.title']}}" class="wrap">
                   {{= i18n['resource.dataSource.aws.option.userDefined'].replace('{0}',i18n['resource.dataSource.aws.option.url']) }}
                </label>
                <input type="radio" value="{{- credentialsType.AWS }}" name="credentialsType" {{ if(modelAttributes.credentialsType === credentialsType.AWS ) { }}checked{{ } }}>
            </div>
        </li>
    </ul>

    <fieldset class="group shortFields" id="aws_settings" {{ if (modelAttributes.credentialsType === credentialsType.EC2) { }}style="display: none;"{{ } }}>

        <label title="{{- i18n['resource.dataSource.aws.setting.accessKey.title']}}" class="control input text ">
            <span class="wrap">{{- i18n['resource.dataSource.aws.setting.accessKey']}}:</span>
            <input type="text" value="{{- modelAttributes.accessKey }}" name="accessKey">
            <span class="message warning"></span>
            <span class="message hint"></span>
        </label>

        <label title="{{- i18n['resource.dataSource.aws.setting.secretKey.title']}}" class="control input password ">
            <span class="wrap">{{- i18n['resource.dataSource.aws.setting.secretKey']}}:</span>
            <input type="password" autocomplete="off" value="{{- modelAttributes.secretKey }}" name="secretKey">
            <span class="message warning"></span>
            <span class="message hint"></span>
        </label>


        <label title="{{- i18n['resource.dataSource.aws.setting.arn.title']}}" class="control input text ">
            <span disabled="disabled" class="wrap">{{- i18n['resource.dataSource.aws.setting.arn']}}:</span>
            <input type="text" value="{{- modelAttributes.roleArn }}" name="roleArn">
            <span class="message warning"></span>
            <span class="message hint">{{- i18n['resource.dataSource.aws.optional.arn']}}</span>
        </label>

    </fieldset>

</fieldset>

<fieldset class="group">

    <legend><span>{{- i18n['resource.dataSource.aws.tree']}}</span></legend>

    <label title="{{- i18n['resource.dataSource.aws.setting.region.title']}}" class="control select " style="display: inline-block; margin-right: 6px; margin-top: 6px; width: 350px;">
        <span class="wrap">{{- i18n['resource.dataSource.aws.setting.region']}}:</span>
        <select class="fnormal" name="region">
            {{ _.each(awsRegions, function(region) { }}
            <option value="{{- region }}" {{ if (region === modelAttributes.region) { }}selected="selected"{{ } }}>{{- i18n[region] }}</option>
            {{ }); }}
        </select>
        <span class="message warning"></span>
    </label>

    <button class="button action" id="findAwsDataSources">
        <span class="wrap">{{- i18n['resource.dataSource.aws.updateTree']}}<span class="icon"></span></span>
    </button>

</fieldset>

<fieldset class="group">

    <div class="control groupBox" style="height: 150px; margin: 0; width: 538px;">
        <div class="content">
            <div class="header">
                <div class="title"></div>
            </div>
            <div class="body" style="height: 137px; overflow: auto; padding: 6px;">
                <ul class="list collapsible folders hideRoot" id="awsDataSourceTree" style="position: relative; height: 137px; overflow: auto; padding: 6px;"></ul>
            </div>
        </div>
    </div>

</fieldset>

<fieldset class="group shortFields">

    <label title="{{- i18n['resource.dataSource.jdbc.username']}}" class="control input text ">
        <span class="wrap">{{- i18n['resource.dataSource.jdbc.username']}} ({{- i18n['required.field']}}):</span>
        <input type="text" value="{{- modelAttributes.username }}" name="username">
        <span class="message warning"></span>
        <span class="message hint"></span>
    </label>

    <label title="{{- i18n['resource.dataSource.jdbc.password']}}" class="control input password ">
        <span class="wrap">{{- i18n['resource.dataSource.jdbc.password']}}:</span>
        <input type="password" value="{{- modelAttributes.password }}" name="password">
        <span class="message warning"></span>
        <span class="message hint"></span>
    </label>

    <label title="{{- i18n['resource.dataSource.aws.database.name.title']}}" class="control input text">
        <span class="wrap">{{- i18n['resource.dataSource.aws.database.name']}} ({{- i18n['required.field']}}):</span>
        <input type="text" value="{{- modelAttributes.dbName }}" name="dbName">
        <span class="message warning"></span>
        <span class="message hint"></span>
    </label>

</fieldset>

<fieldset class="group mediumFields">

    <label title="{{- i18n['resource.analysisConnection.driver']}}" class="control input text">
        <span class="wrap">{{- i18n['resource.dataSource.jdbc.driver']}} ({{- i18n['required.field']}}):</span>
        <input class="control inline" type="text" value="{{- modelAttributes.driverClass }}" name="driverClass">
        {{ if (driverUploadEnabled) { }}
        <button class="button action up" id="driverUploadButton">
            <span class="wrap">{{- i18n['resource.dataSource.jdbc.upload.addDriverButton']}}</span>
        </button>
        {{ } }}
        <span class="message warning"></span>
        <span class="message hint">{{- i18n['resource.dataSource.jdbc.hint1']}}</span>
    </label>

    <label title="{{- i18n['resource.analysisConnection.requiredURL']}}" class="control input text">
        <span class="wrap">{{- i18n['resource.dataSource.jdbc.url']}} ({{- i18n['required.field']}}):</span>
        <input type="text" value="{{- modelAttributes.connectionUrl }}" name="connectionUrl">
        <span class="message warning"></span>
        <span class="message hint">{{- i18n['resource.dataSource.jdbc.hint2']}}</span>
    </label>

</fieldset>