<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- A bean for a BeanDataSource -->
	<bean id="customTestDataSourceService" class="com.jaspersoft.jasperserver.datasource.test.CustomDataSourceService"/>

	<bean id="customTestDataSourceServiceFactory" class="com.jaspersoft.jasperserver.datasource.test.CustomDataSourceServiceFactory"/>

</beans>
