<div class="control combo {{- customClass}} " title="{{- title}}">
    <span class="wrap">{{- title}}</span>
        <span class="control searchLockup ">
            <div class="wrap">
                <input type="text" tabindex="">
            </div>
            <b class="right">
                <a class="button searchClear"></a>
            </b>
            <a class="button search up"></a>
        </span>

    <div class="authorityPicker" onselectstart="return false">
        <div class="selectBorder upper"></div>
        <ul class="list"></ul>
        <div class="selectBorder lower"></div>
    </div>

    <div class="button-select-all" title="{{- selectLabel }}">
        <i class="icon"></i>
        <a class="label">
            <span class="text">{{- selectLabel }}</span>
        </a>
    </div>
</div>