<div id="frame">
    <js-templateNonce></js-templateNonce>
    <div class="column">
        <div class="minimized">
            <div id="minimized" class="minimize"></div>
        </div>
        <div id="minimize" class="minimize"></div>
    </div>
    <div id="metaLinks">
        <a href="#" id="main_logOut_link"></a></div>
    <div id="toolbar">
        <button class="button capsule up first" id="run"><span class="wrap">Run</span><span
                class="icon"></span></button>
    </div>

    <div id="menu"></div>

    <li id="menuMutton" class="mutton selected">
        <span id="anchor"></span>
    </li>

    <ul class="control tabSet buttons horizontal ">
        <li class="tab first selected" tabid="#propertiesTab">
            <a class="button" id="option_1">
                <span class="wrap">Properties</span>
            </a>
        </li>
        <li class="tab" tabid="#attributesTab">
            <a class="button" id="option_2">
                <span class="wrap">Attributes</span>
            </a>
        </li>
    </ul>

    <div id="propertiesTab"></div>
    <div id="attributesTab" class="hidden"></div>
</div>
