<div class="menu horizontal primaryNav" id="mainNavigation">

    <js-templateNonce></js-templateNonce>
    <ul data-component-type="navigation" data-tab-index="2" id="navigationOptions">
        <li class="leaf" tabindex="-1" id="main_home"><p class="wrap button"><span class="icon"></span></p></li>
        <li class="leaf" tabindex="-1" id="main_library"><p class="wrap button"><span class="icon"></span>Library
        </p></li>
        <li class="node mutton" tabindex="-1" id="main_view"><p class="wrap button"><span class="icon"></span>View
        </p></li>
        <li class="node mutton" tabindex="-1" id="main_manage"><p class="wrap button"><span class="icon"></span>Manage
        </p></li>
        <li class="node mutton" tabindex="-1" id="main_create"><p class="wrap button"><span class="icon"></span>Create
        </p></li>
    </ul>
</div>