<div id='menu' class="menu vertical context hidden" aria-hidden="true" role="menu" tabindex="-1" js-navtype="actionmenu"
     style="left: 200px; top: 200px; z-index: 99999;">

    <js-templateNonce></js-templateNonce>

    <div class="content">
        <ul id="menuList" role="menubar" js-navtype="actionmenu">
            <li id="menuList_simpleAction_6" class="leaf" role="menuitem" js-navtype="actionmenu">
                <p class="wrap button"><span class="icon"></span><!--Item text goes here-->Add Folder</p>
            </li>
            <li id="menuList_flyout_14" class="node" role="menu" js-navtype="actionmenu">
                <p class="wrap button"><span class="icon"></span><!--Item text goes here-->Add Resource</p>
                <div id="menuList_flyout_14_subMenu" class=" hidden" aria-hidden="true" role="menu" tabindex="-1"
                     js-navtype="actionmenu" style="">
                    <div class="content">
                        <ul id="menuList_subMenu" role="menubar">
                            <li id="menuList_listItem_49" class="leaf up" role="menuitem" js-navtype="null"><p
                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->Data
                                Source</p></li>
                            <li id="menuList_listItem_47" class="leaf up" role="menuitem" js-navtype="null"><p
                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                Datatype</p></li>
                            <li id="menuList_listItem_21" class="leaf up" role="menuitem" js-navtype="null"><p
                                    class="wrap toggle button"><span class="icon"></span><!--Item text goes here-->
                                Domain</p></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li id="menuList_separator_40" class="leaf separator" role="separator" js-navtype="actionmenu"></li>
            <li id="menuList_simpleAction_34" class="leaf" role="menuitem" js-navtype="actionmenu">
                <p class="wrap button"><span class="icon"></span><!--Item text goes here-->Copy</p>
            </li>
        </ul>
    </div>

</div>

<div id="commonMenu" class="hidden">
    <div class="content">
        <ul id="menuList_template" role="menubar">
        </ul>
    </div>
</div>

<ul class="hidden" aria-hidden="true" role="menubar">
    <li id="menuList_simpleAction" class="leaf" role="menuitem"><p class="wrap button"><span class="icon"></span>
        <!--Item text goes here--></p></li>
    <li id="menuList_separator" class="leaf separator" role="separator"></li>
    <li id="menuList_flyout" class="node" role="menu"><p class="wrap button"><span class="icon"></span>
        <!--Item text goes here--></p></li>
    <li id="menuList_extraInput" class="leaf"><p class="wrap button"><span class="icon"></span>
        <!--Item text goes here--></p></li>
    <li id="menuList_listItem" class="leaf" role="menuitem"><p class="wrap toggle button"><span class="icon"></span>
        <!--Item text goes here--></p></li>
    <li id="navigation_mutton" tabindex="-1" class="node mutton" role="menuitem"><p class="wrap button"><span
            class="icon"></span></p></li>
</ul>
