<ul class="mSelect-list mSelect-avList" style="top: {{=top}}px;">
    {{ _.each(items, function(item) { }}
    <li class="{{ if (item.selected) print('selected'); }} {{ if (item.active) print(' active'); }}" data-index="{{= item.index}}" title="{{ print(item.label && item.label.trim() ? _.escape(item.label) : '&nbsp;')}}">
        <div><a title="{{ print(item.label && item.label.trim() ? _.escape(item.label) : '&nbsp;')}}">{{ print(item.label && item.label.trim() ? item.label : '&nbsp;')}}</a></div>
    </li>
    {{ }); }}
</ul>